<div class="form-group mb-3">
  <p class="fw-bold" v-if="props.title">
    {{ $t(props.title) }}
    <span v-if="props.required" style="color: red">*</span>
  </p>

  <div v-if="type != 'password'" class="input-group">
    <input
      v-if="type != 'password'"
      class="form-control"
      v-model="inputValue"
      :name="props.name"
      :max="props.max"
      :placeholder="placeholder"
      :type="props.type"
      :readOnly="props.readOnly"
      :required="props.required"
      :disabled="props.disabled"
    />
    <span class="input-group-text" v-if="props.currency || props.percent">
      <template v-if="props.currency">€</template>
      <template v-else-if="props.percent">%</template>
    </span>
  </div>
  <div v-else class="input-group">
    <input
      class="form-control"
      v-model="inputValue"
      :placeholder="placeholder"
      :type="props.type"
      :is-required="props.name + (props.lang ? '_' + props.lang : '')"
      :required="props.required"
      :disabled="props.disabled"
    />
    <button
      class="btn btn-info mdi mdi-eye-outline"
      type="button"
      @click="togglePassword"
    ></button>
  </div>
  <p v-if="props.note" class="mb-0">
    <small>{{ props.note }}</small>
  </p>
  <forms-validation :name="props.name + (props.lang ? '_' + props.lang : '')" />
</div>
