.upload-input {
  position: relative;
  background-color: #f4f4f4;
  color: #111;
  padding: 30px;
  display: grid;
  text-align: center;

  input[type='file'] {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
  }
}

.img-preview {
  height: auto;
  position: relative;

  img {
    width: 300px;
    object-fit: cover;
  }

  .remove {
    position: absolute;
    top: 0;
    right: 8px;
    box-shadow: 0px 2px 4px 0px rgba(69, 105, 255, 0.08);
  }
}
